* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* header */

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  background-color: white;
  width: 100%;
  top: 0px;
}

@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .logo {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.main-bar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-bottom: 13px;
  margin-top: 10px;
}

.main-bar li a {
  text-decoration: none;
  padding: 10px;
  color: #4a4a4a;
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .main-bar {
    margin-right: 20px;
  }
}
/* Main */

.main-container {
  display: flex;
  justify-content: center;
  background-color: #3cdbc0;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .main-content {
    font-size: 40px;
  }
}
