* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* header */

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 9999;
  background-color: white;
  width: 100%;
}

@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 20px;
    padding-right: 20px; */
  }
}

.logo {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .logo {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.main-bar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 13px;
}

.main-bar li a {
  margin-right: 15px;
  text-decoration: none;
  padding: 20px;
  color: #4a4a4a;
  font-size: 16px;
}

@media (min-width: 768px) {
  .main-bar {
    margin-left: 20px;
  }
  .main-bar li a {
    padding: 10px;
  }
}

.main-bar li:last-child {
  margin-right: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-color: #3cdbc0;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
}

@media (min-width: 768px) {
    .main-content {
      font-size: 40px;
    }
